<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Qiyas.DataAccessLayer.Properties.Settings.QiyasConnectionString"
            connectionString="Data Source=RBM-MLAP;Initial Catalog=Qiyas;User ID=sa;Password=welcome"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>