@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    ViewBag.Title = Resources.MainResource.ForgotPasswordConfirmationTitle;
}

<h4>@Resources.MainResource.ForgotPasswordConfirmationTitle</h4>
<div>
    <p>
        @Resources.MainResource.ForgotPasswordConfirmationLabel
    </p>
</div>
	
