@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    ViewBag.Title = @Resources.MainResource.LockoutTitle;
}


<h4>@Resources.MainResource.LockoutTitle</h4>
<div>
    <p>
        @Resources.MainResource.LockoutMessage
    </p>
</div>

